body {
  margin: 0;
  padding: 0;
  background-color: white; }

.worldColor {
  fill: #2b293b; }

nav {
  width: 90%;
  margin-left: 5%;
  min-height: 80px;
  background: white; }
  nav svg {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    animation: spin 3s infinite linear;
    float: left; }
  nav ul {
    align-items: center;
    width: fit-content;
    list-style: none;
    width: 400px;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: space-between; }
    nav ul li {
      float: left;
      font-family: "Maven Pro", sans-serif;
      font-size: 30px;
      margin: 0;
      padding: 0;
      margin-left: 50px;
      color: #2b293b; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.search-container {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-top: 100px; }
  .search-container input {
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color: white;
    border: #2b293b 3px solid;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-size: 22px;
    color: #2b293b; }

.result-container {
  width: 90%;
  margin-left: 5%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.result {
  width: 300px;
  background-color: white;
  border: #2b293b 3px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  height: 150px;
  margin: 0;
  margin-bottom: 50px; }
  .result a {
    width: 100%;
    list-style: none;
    list-style-type: none;
    text-decoration: none; }
    .result a h2 {
      font-size: 30px;
      font-family: "Righteous", cursive;
      color: #2b293b;
      font-weight: 300;
      margin: 0;
      height: 50px;
      width: 100%;
      text-align: center; }
      .result a h2:hover {
        color: black; }
  .result h3 {
    font-size: 25px;
    font-weight: 200;
    font-family: "Righteous", cursive;
    color: #2b293b;
    margin: 0;
    height: 40px;
    padding: 0;
    float: right;
    width: 50%; }
  .result img {
    height: 40px;
    float: left; }

.details {
  width: 500px;
  margin: 0px auto;
  border-bottom: #2b293b 3px solid; }
  .details img {
    width: 500px;
    height: 300px;
    border: #2b293b 3px solid; }
  .details h2 {
    padding-left: 10px;
    text-align: left;
    font-family: "Signika", sans-serif;
    color: #2b293b; }

.hamburger {
  display: none;
  width: 60px;
  height: 50px;
  margin: 0;
  float: right;
  margin-top: 15px;
  cursor: pointer; }
  .hamburger span {
    display: block;
    transform: rotate(0deg);
    width: 100%;
    height: 10px;
    border: none;
    background-color: #2b293b;
    margin-top: 10px;
    border-radius: 5px; }
    .hamburger span:nth-child(1) {
      margin-top: 0; }

.hamburgerMenu {
  display: none; }

.container {
  background-color: white;
  position: relative;
  transition: 1s ease;
  width: 100%;
  height: 140px; }

.about-container ul {
  margin: 0;
  padding: 0; }
  .about-container ul li {
    list-style-type: none; }

.contact-container {
  width: 100%; }
  .contact-container div {
    width: 300px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact-container div a:nth-child(1) {
      font-family: "Oxygen", sans-serif;
      font-size: 40px;
      list-style: none;
      text-decoration: none;
      color: #2b293b;
      margin: 0;
      padding: 0; }
    .contact-container div a:nth-child(2) {
      width: 50px;
      height: 50px; }
      .contact-container div a:nth-child(2) svg {
        width: 50px;
        height: 50px; }
        .contact-container div a:nth-child(2) svg path {
          width: 50px;
          height: 50px; }

.about-container h3 {
  margin: 0;
  color: #2b293b;
  padding: 0;
  font-size: 40px;
  text-align: center;
  font-family: "Acme", sans-serif; }

.about-container ul {
  width: 85%;
  margin: 0px auto;
  padding: 0; }
  .about-container ul li {
    width: 50%;
    color: #2b293b;
    margin: 0px auto;
    margin-top: 5px;
    font-size: 40px;
    width: 50%;
    text-align: left;
    font-family: "Catamaran", sans-serif; }

@media (max-width: 700px) {
  nav ul {
    display: none; }
  .hamburger {
    display: block; }
  .search-container {
    background-color: white;
    margin: 0;
    position: relative;
    width: 100%;
    height: 120px;
    z-index: 2; }
    .search-container input {
      width: 90%;
      margin-left: 5%; }
  .details {
    width: 300px; }
    .details img {
      width: 300px;
      height: auto; }
  .hamburgerMenu {
    display: block;
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #2b293b;
    color: white; }
    .hamburgerMenu a {
      text-decoration: none; }
      .hamburgerMenu a h3 {
        width: 100%;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        font-family: "Maven Pro", sans-serif;
        font-weight: lighter;
        color: white;
        list-style: none; }
      .hamburgerMenu a:nth-child(1) h3 {
        margin-top: 0; }
  .about-container h3 {
    margin: 0;
    color: #2b293b;
    padding: 0;
    font-size: 40px;
    text-align: center;
    font-family: "Acme", sans-serif; }
  .about-container ul {
    width: 85%;
    margin: 0px auto;
    padding: 0; }
    .about-container ul li {
      margin-top: 10px;
      font-size: 30px;
      width: 100%;
      text-align: left; } }
